.main-color{
  color: #ff5200 !important;
}
.main-font{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
.main-font-p{
  font-family: 'Oswald', sans-serif;
  /* letter-spacing: 1px; */
  font-size: 19px;
}
.main-btn{
  color: #fff;
  outline:none;
  border-radius:3px;
  border: none;
  cursor: pointer;
  background-color:#ff5200;
  padding: 10px 20px;
}

.service-add small,.admin-add small,.review small{
  color: red;
  display: block;
}
select{
  background: transparent;
  border: none;
  outline: none;
}